body { background: #7cd528; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-database-0 { color: #ac2913; font-size: 17px; margin-bottom: 5px; }
.block-database-1 { color: #9db024; font-size: 21px; margin-bottom: 5px; }
.block-filter-2 { color: #649ae6; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #f6aa1f; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #fd7da7; font-size: 12px; margin-bottom: 5px; }